.detournee {
    text-decoration: underline;
}

.contondante {
    font-weight: bold;
}

h1, section h2, section h3 {
    color: red;
}

nav li ul {
    list-style: none;
}

#armes li {
    color: green;
    list-style-type: disc;
}

#armes li li {
    color: blue;
    list-style: circle;
}

article img {
    height: 1em;
}

nav img {
    width: 20vw;
}

ul li {
    list-style: none;
}
